.component-button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.component-button.wide {
  width: 50%;
}

.component-button button {
  background-color: #505050;
  border: 0;
  color: #d4d4d2;
  font-size: 1.5rem;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.functions button {
  background-color: #1c1c1c;
  color: white;
}

.component-button.orange button {
  background-color: #ff9400;
  color: white;
}
